# CODEOWNERS for .project metadata repository
# Changes to project metadata require maintainer review.
* @oilbeater @hongzhen-ma @zhangzujian @fanriming @zbb88888 @wangyd1988 @SkalaNetworks @thebsdbox @yastij @clux @teozkr @kazk @rsevilla87 @vishnuchalla @smalleni @ygalblum 
